body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  height: 90vh;
  min-width: 30%;
  background-color: grey;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

#screen {
  height: 20%;
  width: 100%;
  background-color: white;
  border-radius: 16px;
}

#buttons {
  width: 100%;
  margin-top: 32px;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

#buttons button {
  height: 18%;
  padding: 0;
  border-radius: 16px;
  font-size: 32px;
  border: 2px solid black;
}

.topButtons {
  width: 48.5%;
}

.bottomButtons {
  width: 22.75%;
}